name: Swift

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  macos:
    runs-on: macos-26
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Swift
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "6.2.0"
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

  linux:
    runs-on: ubuntu-latest
    container:
      image: swift:6.2
    steps:
    - name: Checkout
      uses: actions/checkout@v3
    - name: Setup Swift
      uses: SwiftyLab/setup-swift@latest
      with:
        swift-version: "6.2.0"
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v

  documentation:
    needs: [macos, linux]
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    container:
      image: swift:6.2
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      
      - name: Generate Documentation
        run: |
          swift package --allow-writing-to-directory ./docs \
            generate-documentation \
            --disable-indexing \
            --transform-for-static-hosting \
            --hosting-base-path swift-asciidoc \
            --output-path ./docs

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: docs

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4